/**********************************/
/********* Form Input CSS *********/
/**********************************/
.form-control,
.custom-select {
	width: 100%;
	height: 35px;
	padding: 5px 1rem;
	color: var(--cinza-medio);
	border: 1px solid var(--branco);
	margin-bottom: 1rem
}

.form-control:focus,
.custom-select:focus {
	box-shadow: none;
	border-color: var(--azul-escuro);
}

.custom-radio,
.custom-checkbox {
	margin-bottom: 1rem;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
	border-color: #cccccc;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	color: var(--branco);
	background: var(--azul-escuro);
}

button.btn {
	color: var(--branco);
	background: var(--preto);
	border: 1px solid var(--preto);
}

button.btn:hover {
	color: var(--branco);
	background: var(--azul-escuro);
	border-color: var(--azul-escuro);
}
