/**********************************/
/********* noticias CSS ********/
/**********************************/
.single-news {
	position: relative;
	width: 100%;
	padding: 1.8rem 0 0 0;
	margin-bottom: 1rem;
}

.single-news .sn-img {
	position: relative;
	overflow: hidden;
    border-radius: 5px;
}

.single-news .sn-img img {
	width: 75%;
}


.single-news .sn-content {
	position: relative;
	width: 100%;
	padding: 30px 0;
}

.single-news .sn-content h1.sn-title {
	display: block;
	width: 100%;
	color: var(--preto);
}

.single-news .sn-related {
	margin-bottom: 45px;
}

.single-news .sn-related h2 {
	color: var(--preto);
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	border-bottom: 3px double var(--preto);
}

.single-news .sn-slider .sn-img {
	position: relative;
	overflow: hidden;
}

.single-news .sn-slider .sn-img img {
	width: 100%;
}

.single-news .sn-slider .sn-img:hover img {
	filter: blur(3px);
	-webkit-filter: blur(3px);
}

.single-news .sn-slider .sn-title {
	position: absolute;
	top: 0; 
	right: 0;
	bottom: 0; 
	left: 0;
	padding: 1rem 0.7rem 1rem 2rem;
	background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
	display: flex;
	align-items: flex-end;
}

.single-news .sn-slider .sn-title a {
	display: block;
	width: 100%;
	color: var(--branco);
	font-size: 1rem;
	font-weight: 400;
	transition: .3s;
}

.single-news .sn-slider .sn-title a:hover {
	color: var(--azul-escuro);
}

.single-news .sn-slider .slick-prev,
.single-news .sn-slider .slick-next {
	top: -62px;
	width: 28px;
	height: 28px;
	z-index: 1;
	transition: .5s;
	color: var(--branco);
	background: var(--preto);
	border-radius: 4px;
}

.single-news .sn-slider .slick-prev {
	left: calc(100% - 85px);
}

.single-news .sn-slider .slick-next {
	right: 14px;
}

.single-news .sn-slider .slick-prev:hover,
.single-news .sn-slider .slick-prev:focus,
.single-news .sn-slider .slick-next:hover,
.single-news .sn-slider .slick-next:focus {
	color: var(--branco);
	background: var(--azul-escuro);
}

.single-news .sn-slider .slick-prev::before,
.single-news .sn-slider .slick-next::before {
	font-family: "Font Awesome 5 Free";
	font-size: 1rem;
	font-weight: 900;
	color: var(--branco);
}

.single-news .sn-slider .slick-prev::before {
	content: "\f104";
}

.single-news .sn-slider .slick-next::before {
	content: "\f105";
}

.imagem{
    width: 80%;
    border-radius: 5px;
}

.display{
    display: flex;
    justify-content: center;
}

.imagem_news{
    display: flex;
    justify-content: center;
}
