/**********************************/
/********** General CSS ***********/
/**********************************/
:root{
    --azul-claro: #DFE3E5;
	--azul-ciano: #56CCF2;
	--azul-escuro: navy;
	--branco: #ffffff;
	--bg-chamada-mobile: #00161C;
	--hover: #333;
	--cabecalho: #1F4E5F;
	--cinza-claro: #e7e7e7;
	--cinza-medio: #9b9b9b;
	--cinza-escuro: #4F4C4C;
	--marrom-medio: #3C2A21;
	--fonte-link: #3f3f3f;
	--verde-musgo: #79A8A9;
	--verde-piscina: #AACFD0;
	--vermelho-claro: #E33B3B;
	--vermelho-forte: #B72E2E;
	--roxo-claro: #B04CD9;
	--preto: #010101;
}

body {
	color: var(--preto);
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background: var(--branco);
    width: 100%;
    
}

html, body{
    overflow-x: hidden !important; 
}


a {
	color: var(--roxo-claro);
	transition: 0.5s;
}

a:hover,
a:active,
a:focus {
	color: var(--preto);
	outline: none;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0 0 15px 0;
	color: var(--preto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1rem 0;
	color: var(--preto);
	font-weight: 600;
}

h4,
h5,
h6 {
	font-weight: 400;
}

.back-to-top {
	position: fixed;
	background: var(--roxo-claro);
	color: var(--branco);
	width: 2rem;
	height: 2rem;
	text-align: center;
	line-height: 1;
	font-size: 1rem;
	right: 1rem;
	bottom: 1rem;
	transition: background 0.5s;
	border-radius: 4px;
	z-index: 11;
}

.back-to-top:hover {
	background: var(--preto);
}

.back-to-top i {
	padding-top: 9px;
	color: var(--branco);
}



/**********************************/
/********* Breadcrumb CSS *********/
/**********************************/
.breadcrumb-wrap {
	position: relative;
	width: 100%;
	background: var(--branco);
}

.breadcrumb-wrap .breadcrumb {
	margin: 25px 0 0 0;
	padding: 0;
	background: none;
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
	color: var(--cinza-escuro);
}

.breadcrumb-wrap .breadcrumb .breadcrumb-item.active {
	color: var(--cinza-escuro);
}


/**********************************/
/******* Responsividade CSS *******/
/**********************************/
/* BRAND LOGO */
@media (max-width: 767.98px) {
	.brand .b-logo,
	.brand .b-ads,
	.brand .b-search {
		text-align: center;
		margin-bottom: 1rem;
	}
	
	.brand .b-search {
		margin-bottom: 0;
	}
}

@media (max-width: 400px){
    .container{
        justify-content: center;

    }
    
    .brand a img{
        width: 80%;
    }

    .col-lg-6, .col-md-4{
        margin: 1rem;
        text-align: center;
    }
    
    .home{
        flex-wrap: wrap;
    }

}

/* ************************* */
/* TOP NEWS */
@media (max-width: 1000px) {
    .top-news .tn-left .tn-title a{
        font-size: 1.3rem;
    }

    .top-news .tn-title a{
        font-size: 0.6rem;
    }
    
    .cat-news{
        width: 95%;
    }

    .col-md-6{
        left: 0.8rem;
        width: 90%;
    }

    .topicos{
        padding-right: 1.58rem;
    }

    .construcao{
        font-size: 1.3rem;
    }
    
    .gif{
        width: 6rem;
    }
}

@media (max-width: 764px) {
    .top-news .tn-title a{
        font-size: 1rem;
    }
    
    .topicos{
        padding-right: 0.5rem;

    }

    .cat-news .cn-title{
        padding: 1rem 0.3rem 1rem 0.6rem;
    
    }


}

/* ************************* */
/* TOP BAR */
@media (max-width: 768px) {
	.top-bar .tb-contact,
	.top-bar .tb-menu {
		text-align: center;
	}

}

/* ************************* */
/* NAV BAR */
@media (max-width: 400px) {
    .navbar{
        justify-content: space-around;
    }

    .top-news .tn-img{
        width: 85%;
    }

    
}

/* ************************* */
/* FOOTER */
@media (max-width: 768.98px) {
	.footer-bottom .copyright,
	.footer-bottom .template-by {
		text-align: center; 
	} 
}

